
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
img.img-responsive {
  width: 100%;
}
// image viewer
.image-viewer-box{

}
.image-viewer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
.image-box{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 0;
  background-color: rgba(0,0,0,.8);
  overflow: auto;
  .image{
    position: absolute;
    transition: all .2s;
    cursor: zoom-out;
  }
}
